* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0d1117;
  color: white;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #111827, #020617);
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}


.hero-buttons a {
  padding: 10px 20px;
  background: #38bdf8;
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.outline {
  background: transparent !important;
  border: 1px solid #38bdf8;
  color: #38bdf8 !important;
}

/* SECTIONS */

.section {
  padding: 120px 20px;
  text-align: center;
}

/* PROJECTS */

.grid {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 280px;
  padding: 25px;
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card button {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  background: #38bdf8;
  border-radius: 6px;
  cursor: pointer;
}

/* SKILLS */

.skills {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skills span {
  padding: 8px 18px;
  background: #1f2933;
  border-radius: 8px;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  background: #020617;
  margin-top: 50px;
}

/* RESPONSIVO */

@media (max-width: 768px) {

  .navbar ul {
    display: none;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
    max-width: 250px;
  }

}
